{% extends 'base.html'%}

<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/shop-homepage.css')}}">
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  
{% endblock %}
<!-- Content block -->
{% block content %}
<div class="container" style="font-family: Domine ;">

    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">Search By</h1>
        <div class="list-group">
          <a href="#" class="list-group-item">Price </a>
          <a href="#" class="list-group-item">Size </a>
        </div>

      </div>
      <!-- /.col-lg-3 -->

      

        <div class="row">

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href=""><img class="card-img-top" src="../static/images/dws - future water mavo diami trench2.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#"></a>
                </h4>
                <h5>Ksh 76,000 p.a</h5>
                <p class="card-text">This agricultural farmland for lease is near a borehole and can be used for irrigation farming. Can be used for crops like water melons, onions, capsicum (hoho), french beans, muguka (successful farms in the area). Nearby borehole supplies water at kes 100 per 1 cubic metre (1,000 litres). One can lease from 2 acres to 5 acres</p>
                <p></p>
              </div>
              <div class="card-footer">
                <a  href="{{url_for('main.lease')}}" class="btn btn-info" role="button">Lease</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="../static/images/maxresdefault.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#"></a>
                </h4>
                <h5>Ksh 44,000 p.a</h5>
                <p class="card-text">1400 acres of agricultural land both for long-term lease and sale
                  the land is located in ng'wata makueni county</p>
              </div>
              <div class="card-footer">
                <a  href="{{url_for('main.lease')}}" class="btn btn-info" role="button">Lease</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="../static/images/Hassendean-farm.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#"></a>
                  </a>
                </h4>
                <h5>Ksh 45,000 p.a </h5>
                <p class="card-text">27 km from eastern bypass (ruai junction)part of the land is cleared the rest of the land is virgin land
                  title deed available,the land touches river kambu,electricity availab,good feeder road</p>
              </div>
              <div class="card-footer">
                <a  href="{{url_for('main.lease')}}" class="btn btn-info" role="button">Lease</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href=""><img class="card-img-top" src="../static/images/732.jpg" alt="Karatina"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#"></a>
                </h4>
                <h5>Ksh 84,000 p.a </h5>
                <p class="card-text">This agricultural farmland for lease is near a borehole and can be used for irrigation farming. Can be used for crops like water melons, onions, capsicum (hoho), french beans, muguka (successful farms in the area). Nearby borehole supplies water at kes 100 per 1 cubic metre (1,000 litres). One can lease from 2 acres to 5 acres</p>
              </div>
              <div class="card-footer">
                <a  href="{{url_for('main.lease')}}" class="btn btn-info" role="button">Lease</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="../static/images/maxresdefault.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#"></a>
                </h4>
                <h5> Ksh 23,000 p.a </h5>
                <p class="card-text">1400 acres of agricultural land both for long-term lease and sale
                  the land is located in ng'wata makueni county</p>
              </div>
              <div class="card-footer">
                <a  href="{{url_for('main.lease')}}" class="btn btn-info" role="button">Lease</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="../static/images/dws - future water mavo diami trench2.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#"></a>
                </h4>
                <h5>Ksh 54,000 p.a </h5>
                <p class="card-text">2 acres of farmland for lease in ndovoini, 15km off kangundo road
                  this agricultural farmland for lease is near a borehole and can be used for irrigation farming and surrounding farms have been sub-divided into plots and sold at prices of kes 300k - 450k. Can be used for crops like water melons, onions, capsicum (hoho), french beans, muguka (successful farms in the area). One can also purchase and lease to farmers for irrigation farming.</p>
              </div>
              <div class="card-footer">
                <a  href="{{url_for('main.lease')}}" class="btn btn-info" role="button">Lease</a>
              </div>
            </div>
          </div>

        </div>
        <div class="row">

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href=""><img class="card-img-top" src="../static/images/CqteOGOWAAAJ_ma.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#"></a>
                </h4>
                <h5>Ksh 35,000 p.a</h5>
                <p class="card-text">We are looking for serious large-scale farmers to lease 30 acres fertile agricultural land in Kimana, Kajiado County. The land is located less than a kilometre from the Emali - Oloitokitok Tanzania border tarmac road . The area has a record of very high crop production levels.</p>
              </div>
              <div class="card-footer">
                <a  href="{{url_for('main.lease')}}" class="btn btn-info" role="button">Lease</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="../static/images/download.jpeg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#"></a>
                </h4>
                <h5>Ksh 24,000 p.a</h5>
                <p class="card-text">The 5 Acres Farmland for leasing in Olerai area is about 2.5km from Olerai centre. The land is good for beans or early maturing wheat.</p>
              </div>
              <div class="card-footer">
                <a  href="{{url_for('main.lease')}}" class="btn btn-info" role="button">Lease</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="../static/images/Airpark2-min.png" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#"></a>
                </h4>
                <h5>Ksh 63,000 p.a </h5>
                <p class="card-text">This agricultural farmland for lease is near a borehole and can be used for irrigation farming. Can be used for crops like water melons, onions, capsicum (hoho), french beans, muguka (successful farms in the area). Nearby borehole supplies water at kes 100 per 1 cubic metre (1,000 litres). One can lease from 2 acres to 5 acres</p>
              </div>
              <div class="card-footer">
                <a  href="{{url_for('main.lease')}}" class="btn btn-info" role="button">Lease</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href=""><img class="card-img-top" src="../static/images/Hassendean-farm.jpg" alt="Karatina"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#"></a>
                </h4>
                <h5>Ksh 70,800 p.a </h5>
                <p class="card-text">1400 acres of agricultural land both for long-term lease and sale
                  the land is located in ng'wata makueni county
                  part of the land is cleared the rest of the land is virgin land</p>
              </div>
              <div class="card-footer">
                <a  href="{{url_for('main.lease')}}" class="btn btn-info" role="button">Lease</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="../static/images/maxresdefault.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#"></a>
                </h4>
                <h5> Ksh 95,000 p.a </h5>
                <p class="card-text">2 acres of farmland for sale in ndovoini, 15km off kangundo road
                  this agricultural farmland for sale is near a borehole and can be used for irrigation farming</p>
              </div>
              <div class="card-footer">
                <a  href="{{url_for('main.lease')}}" class="btn btn-info" role="button">Lease</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="../static/images/dws - future water mavo diami trench2.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#"></a>
                </h4>
                <h5>Ksh 45,000 p.a </h5>
                <p class="card-text">The 5 Acres Farmland for leasing in Olerai area is about 2.5km from Olerai centre. The land is good for beans or early maturing wheat.</p>
              </div>
              <div class="card-footer">
                <a  href="{{url_for('main.lease')}}" class="btn btn-info" role="button">Lease</a>
              </div>
            </div>
          </div>

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <a style="color: white;" href="#" class="twitter"><i class="icofont-twitter"></i></a>
      <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
      <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
      <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
      <p class="m-0 text-center text-white">Copyright &copy; WeLease 2021</p>
      
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p"></script>
</body>

</html>
{% endblock %}



    