<nav class="mb-2 navbar navbar-expand-lg navbar bg-dark ">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
            </button>
            <a style="color: white;" class="navbar-brand" href="/"><i class="far fa-farm"></i>WeLease </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ><a style="color: white; " href="/">Home</a></li>
        </div>
        <div class="nav navbar-nav">
            <li><a style="color: white;" href="/">About</a></li>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a style="color: white;" href="./lease.html">View properties</a></li>
        </div>
        <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
            <li style="color:white;padding:15px;">{{current_user.username}}</li>
            <li ><a href="{{url_for('auth.logout')}}">Sign out</a></li>
            {% else %}
            <li><a style="color: white;" href="{{url_for('auth.login')}}"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign in</a></li>
            <li><a style="color: white;" class="dropdown-item" href="{{url_for('auth.logout')}}"><i class="fas fa-sign-out-alt"></i>&nbsp; Log out</a></li>
           
            {%endif%}
          </ul>
          
    </div>
</nav>
